.postcontainer {
  max-width: 800px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 5px;
}
.inside {
  margin-bottom: 30px;
  padding: 10px 20px;
  box-shadow: 0 5px 12px rgb(218, 218, 218), 4px 8px 12px rgb(218, 218, 218);
  display: flex;
  flex-direction: row;
}

.inside div:last-child {
  margin-left: 25px;
}

.inside h2 {
  text-align: justify;
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 600;
}

.inside p {
  margin-bottom: 15px;
  font-size: 1rem;
}

.readButton {
  padding: 10px 16px;
  background-color: aliceblue;
  font-weight: 500;
  cursor: pointer;
}

.img {
  width: 260px;
  height: 200px;
  position: relative;
}
.container {
  width: 555px;
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .postcontainer {
    max-width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .inside {
    margin-bottom: 30px;
    padding: 10px 20px;
    box-shadow: 0 5px 12px rgb(218, 218, 218), 4px 8px 12px rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
  }

  .postcontainer h2 {
    text-align: justify;
    margin-bottom: 10px;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .inside p {
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .readButton {
    padding: 10px 16px;
    background-color: aliceblue;
    font-weight: 500;
  }

  .img {
    width: 250px;
    height: 200px;
    position: relative;
  }
  .container {
    width: 65%;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .postcontainer {
    max-width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .inside {
    margin-bottom: 30px;
    padding: 10px 20px;
    box-shadow: 0 5px 12px rgb(218, 218, 218), 4px 8px 12px rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
  }
  .inside div:last-child {
    margin-left: 0;
  }

  .postcontainer h2 {
    text-align: justify;
    margin: 10px 0;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .inside p {
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .readButton {
    padding: 10px 16px;
    background-color: aliceblue;
    font-weight: 500;
   
  }

  .img {
    width: 100%;
    height: 200px;
    position: relative;
    display: block;
  }
  .container {
    width: 100%;
  }
}
